.overflow-h{
    overflow: hidden;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    box-sizing: border-box;
    width: 100%;
    max-width: 1190px;
    padding: 0 25px;
    transition: all 0.5s;
    margin: auto;
}
/*------------ "白底" 區------------*/
.white_bar{
    background-color: rgba(243, 243, 244, 0.9);
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    z-index: 1;
}
header>.white_bar>.logo_top{
/*    background-color: antiquewhite;*/
    margin-bottom: -8px;
    width: 30%;
    height: 80%;
    max-width: 125px;
}
header>.white_bar>.logo_top>a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
header>.white_bar>.logo_top>a>img{
    height: 80%;
    width: 100%;
}
@media screen and (min-width:768px){
    .white_bar{
        margin-top: 20px;
    }
    .white_bar_top{
        margin-top:0px;
        background-color: #F3F3F4;
    }
    header>.white_bar>.logo_top{
        display: none;
    }
}
/*------------連結 資訊 "外層" 區------------*/
header .container{
/*    background-color: fuchsia;*/
    position: fixed;
    padding: 0;
    height: 100vh;
    display: none;
    z-index: 2;
}
header .navs{
/*    background-color: #5e69ba;*/
    height: 100%;
    position: relative;
/*    transition: all 0.5s;*/
}
@media screen and (min-width:768px){
    header .container{
        padding: 0 25px;
        display: block;
        height: auto;
    }
    header .navs{
        height: auto;
    }
}
/*------------連結 資訊 "選單" 區------------*/
header nav{
/*    background-color: rgba(127, 255, 212, 1);*/
    width: 100%;
    height: 100%;
    min-height: 300px;
/*    max-height: 500px;*/
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    transition: all 0.5s;*/
}
nav .ph_hide{
/*    background-color: coral;*/
    width: 100%;
    height: 100%;
/*    transition: all 0.5s;*/
}
@media screen and (min-width:768px){
    header nav{
        height: 70vh;
        min-height: 40px;
        max-height: 780px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-start;
        align-content:space-between;
    }
    nav .ph_hide{
/*        height: 100%;*/
    }
}
/*------------連結 資訊 選單 "ul" 區------------*/
header ul{
/*    background-color: burlywood;*/
    box-sizing: border-box;
/*    border: 1px solid black;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0px 0px 0px;
/*    transition: all 0.5s;*/
}
header li{
    width: 60%;
    height: 13vh;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    transition: all 0.5s;
}
header li>a{
/*    background-color: aqua;*/
    border-bottom: 1px solid;
    border-image: -webkit-linear-gradient(to left,#F3F3F4,rgba(93, 55, 48, 0.8),#F3F3F4) 10 10; 
    border-image: -moz-linear-gradient(to left,#F3F3F4,rgba(93, 55, 48, 0.8),#F3F3F4) 10 10; 
    border-image: linear-gradient(to left,#F3F3F4,rgba(93, 55, 48, 0.8),#F3F3F4) 10 10; 
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
header li>a>img{
    padding-bottom: 2%;
    height: 30%;
    max-width: 10%;
    transition: all 0.5s;
}
header li>a>p{
/*    background-color: aquamarine;*/
    text-align: center;
    transition: all 0.5s;
}
header li.logo_down{
/*    background-color: antiquewhite;*/
    height: 16vh;
    order: -1;
    transition: all 0.5s;
}
header li.logo_down>a{
    border-style: none;
    transition: all 0.5s;
}
header li.logo_down img{
    width: 115px;
    height: 115px;
    border-radius: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.93);
    max-width: none;
    transition: all 0.5s;
}
header li:nth-child(6){
/*    background-color: aquamarine;*/
    width: 50%;
    height: 15%;
    align-items: center;
}
header li:nth-child(6)>a{
/*    background-color: antiquewhite;*/
    height: 100%;
    border-style: none;
}
header li:nth-child(6) i{
/*    background-color:darkred;*/
    font-size:170%;
    color: #5D3730;
}
@media screen and (max-width:767px) and (max-height:350px){
    header li>a>img{
        display: none;
    }
    header li.logo_down>a>img{
        display: block;
    }
}
@media screen and (max-width:767px) and (min-height:430px){
    header li:nth-child(1)>a>p::after,header li:nth-child(2)>a>p::after,header li:nth-child(4)>a>p::after,header li:nth-child(5)>a>p::after{
/*        background-color: antiquewhite;*/
        white-space: pre;
        display: inline-block;
        height: 100%;
        width: 100%;
        margin-top: -5%;
        text-align: center;
        font-size: 0.5em;
        vertical-align: middle;        
    }
    header li:nth-child(1){
        margin-top: 5%;
    }
    header li:nth-child(1)>a>p::after{
        content:"\A NEWS";
    }
    header li:nth-child(2)>a>p::after{
        content:"\A ABOUT";
    }
    header li:nth-child(4)>a>p::after{
        content:"\A PRODUCTS";
    }
    header li:nth-child(5)>a>p::after{
        content:"\A LOCATIONS";
    }
}/*header li max 767 end*/

@media screen and (min-width:768px){
    header ul{
/*        justify-content: space-between;*/
        flex-direction: row;
        align-items: flex-start;
/*        padding: 0;*/
        padding-top: 20px;
/*        height: 70vh;*/
    }
    header li{
/*        background-color: aqua;*/
        width: 0%;
        height: 75px;
        flex-grow: 1;
    }
    header li.logo_down{
/*        background-color: aqua;*/
        height: 150px;
        align-self: center;
        order:0;
        flex-grow: 0;
    }
    header li.logo_down img{
        width: 150px;
        height: 150px;
        border: 10px solid rgba(255, 255, 255, 0.1);
    }
    header li.logo_down img.nobg{
        border: 8px solid #F3F3F4;
        background-color: white;
    }
    header li.logo_down_top{
        width: 20%;
        align-self:flex-start;
        margin-top:-35px;
        transition: all 1s;
    }
    header li.logo_down>a>img:hover{
        transform: scale(1.1);
        border-width: 10px;
    }
    header li>a{
        border-style: hidden;
        flex-direction: row;
    }
    header li:nth-child(1)>a:hover,header li:nth-child(2)>a:hover,header li:nth-child(4)>a:hover,header li:nth-child(5)>a:hover{
        transform: scale(1.2);
/*        background-color: white;*/
        background-image: linear-gradient(to right, rgba(0,0,0,0), rgb(255, 255, 255), rgba(0,0,0,0));
    }
    header li>a>img{
        padding: 0 3%;
    }
    header .icon{
        display: none;
    }
}/* nav max 413 end*/
/*------------"背景" 區------------*/
header .banner{
    width: 100%;
    height: 80vh;
    max-height: 500px;
    min-height: 350px;
    position: relative;
    
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;　
}
@media screen and (max-width:413px){
    header .banner{
        background-size: cover;
    }
    header .banner_index{
        background-image: url(../images/header-footer/banner-ph-index.jpg);
    }
    header .banner_news{
        background-image: url(../images/header-footer/banner-ph-news.jpg);
    }
    header .banner_about{
        background-image: url(../images/header-footer/banner-ph-about.jpg);
        background-position:25% top;
    }
    header .banner_products{
        background-image: url(../images/header-footer/banner-ph-products.jpg);
        background-position:45% top;
    }
    header .banner_locations{
        background-image: url(../images/header-footer/banner-ph-locations.jpg);
    }
}/*banner bg ph max 413 end*/
@media screen and (min-width:414px) and (max-width:767px){
    header .banner{
        background-size: cover;
    }
    header .banner_index{
        background-image: url(../images/header-footer/banner-pad-index.jpg);
    }
    header .banner_news{
        background-image: url(../images/header-footer/banner-pad-news.jpg);
    }
    header .banner_about{
        background-image: url(../images/header-footer/banner-pad-about.jpg);
    }
    header .banner_products{
        background-image: url(../images/header-footer/banner-pad-products.jpg);
    }
    header .banner_locations{
        background-image: url(../images/header-footer/banner-pad-locations.jpg);
        background-position: 30% center;
    }
}/*banner bg ipad 414 -786 end*/
@media screen and (min-width:768px){
    header .banner{
        background-size: cover;
        background-position: center 90%;
    }
    header .banner_index{
        background-image: url(../images/header-footer/banner-pc-index.jpg);
    }
    header .banner_news{
        background-image: url(../images/header-footer/banner-pc-news.jpg);
    }
    header .banner_about{
        background-image: url(../images/header-footer/banner-pc-about.jpg);
        background-position: center 80%;
    }
    header .banner_products{
        background-image: url(../images/header-footer/banner-pc-products.jpg);
    }
    header .banner_locations{
        background-image: url(../images/header-footer/banner-pc-locations.jpg);
    }
}/*banner bg pc min 786 end*/
@media screen and (min-width:414px) and (max-width:767px){
    header .banner{
        max-height: 500px;
}    
}/* banner min 414 max 767 end*/
@media screen and (min-width:768px){
    header .banner{
        max-height: 780px;
        min-height: 300px;
        padding-top: 20px;
    }
}/* banner min 768 end*/
/*------------背景 "頁面名稱" 區------------*/
header .page_name{
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
}
header .page_name>hr{
    width: 40%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

@media screen and (min-width:768px){
    header .page_name>h1{
/*        background-color: aqua;*/
        font-size: 1.5em;
    }
}
/*------------ "按鈕" 區------------*/
button.menu_click{
    background-color: transparent;
    border-style: none;
    width: 50px;height: 70px;
    
    position: fixed;
    right: 10px;
    font-size:1.5em;
    z-index: 2;
}
@media screen and (min-width:768px){
    button.menu_click{
        display: none;
    }
}
/*------------"CLASS素材" 區------------*/
header .flex-basis-100{
    flex-basis: 100%;
}
header .ph_nav_bg{
    background-color:#F3F3F4;
/*    border: 1px solid black; */
}
header nav .hide_area{
    opacity: 1;
    display: block;
}
header .pt-20{
    padding-top: 0px;
    height: auto;
/*    background: linear-gradient(180deg, rgba(255, 255, 255, 0)10%, rgb(255, 255, 255)60%,rgba(255, 255, 255, 0)70%);*/
}
header>.container.hight_auto{
    height:auto;
/*    background-color: antiquewhite;*/
}
header .hight_auto{
    height:auto;
}
.test{
    position: relative;
    width: 100%;height: 500px;
    background-color: aqua;
/*    z-index: 10;*/
}